@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.work-sans-font {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* shared style */
.display-flex{
  display: flex;
}
.dark-2{
  color: #424242;
}
.dark-3{
  color: #727272;
}
.btn-1{
  background-color: rgba(255, 144, 14, 1);
  padding: 21px 25px;
  color: white;
  border-radius: 8px;
  border: none;
  font-size: 1.25rem;
  font-weight: 500px;
}
/* header */
.bg-light{
  background-color: rgba(255, 144, 14, 0.1);
}
.nav-item{
  list-style: none;
  margin-right: 30px;
}
.brand{
  font-size: 3rem;
  font-weight: bold;
}
.nav-link{
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
}
.navbar{
  justify-content: space-between;
  align-items: center;
}
.navbar, .banner{
  max-width: 1440px;
  margin: 0 auto;
}
.banner-content{
  max-width: 862px;
  margin: 0 auto;
  margin-bottom: 32px;
}
.banner-title{
  font-size: 4rem;
  font-weight: bold;
}
.banner-pic{
  width: 100%;
}
/* responsive media query */
@media screen and (max-width: 576px) {
  .navbar, .nav-links {
    flex-direction: column;
  }
}